<label>Server Name</label>
<input class="form-control" type="text" [(ngModel)]="serverName" />
<hr>

<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
    Add Server
</button>
<br><br>

<p> {{ serverCreationStatus }}</p>
<hr>

<app-server></app-server>
<app-server></app-server>

<hr>
<p>--- Exercise ---</p>
<label>Username</label>
<input
  class="form-control"
  type="text"
  placeholder="Fill the username"
  [(ngModel)]="username"/>
<p>The entered username is: {{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="!username"
  (click)="onResetUsername()">
  Clear Username
</button>
