<h3>This is the RxJs Playground</h3>

<h2>Chapter 1</h2>
<span>Showing the initial users observable</span>
<ul>
  <li *ngFor="let user of notUpdatedUsers$ | async">
    {{ user.firstName }}
    {{ user.lastName }}
    {{ user.age }}
    {{ user.email }}
  </li>
</ul>
<hr>

<span>Showing the updated users observable</span>
<ul>
  <li *ngFor="let user of updatedUsers$ | async">
    {{ user.firstName }}
    {{ user.lastName }}
    {{ user.age }}
    {{ user.email }}
  </li>
</ul>
<hr>

<span>Showing the orders observable</span>
<p>Order is {{ orders$ | async }}</p>
<hr>

<span>Showing the information of an event observable</span>
<br>
<a #linkObservable href="http://localhost.es/1234" (mouseover)="getObservable()"> Hover to get an observable in the console</a>
<hr>

<span>Showing the information of an interval observable</span>
<button (click)="stopSubscription()" >Stop internal subscription</button>
<hr>
